# 可汗学院的数据汇总

In [1]:
import pandas as pd
import numpy as np

In [ ]:
课程ID 、课程名称、年级、科目、课程介绍、内容标签、链接
备用标签：是否有老师出镜、资源的类型（视频文档工具）、是否免费、是否需要登录
这里好像只有数学的才是按照年级去分类的，但是别的科目并没有按照这个方式去分类
或者就是主要是数学、科学、计算机、语文（humanities）

In [2]:
All_data = pd.read_excel('Save_Excel.xlsx','page_1',index_col=0)
#tab_data = pd.read_excel('Save_Excel.xlsx','level',index_col=0)

In [3]:
# 取出需要的几个主要学科
subject = ['math','science','computing','humanities']

In [10]:
all_final_data = []
for one_s in subject:
    one_s_data = All_data.loc[All_data[one_s]==1].replace(0,np.NAN).dropna(axis=1,how='all')
    one_s_data = one_s_data.drop([one_s],axis=1)
    for i in one_s_data.index:
        one_fina_s = []
        one_c = one_s_data.loc[i]
        content_label = list(one_c[1:-1][one_c[1:-1]==1].index)
        content_label = ','.join(content_label)
        one_grade = np.NAN
        if '-math' in content_label:
            grade = content_label.split('-math')[0]
            if grade == 'cc-1st-grade':
                one_grade = 1
                one_fina_s.append([one_c['course'],one_grade,one_s,content_label,np.NAN,one_c['website']])
            elif grade == 'cc-third-grade':
                one_grade = 3
                one_fina_s.append([one_c['course'],one_grade,one_s,content_label,np.NAN,one_c['website']])
            elif grade == 'cc-fourth-grade':
                one_grade = 4
                one_fina_s.append([one_c['course'],one_grade,one_s,content_label,np.NAN,one_c['website']])
            elif grade == 'cc-fifth-grade':
                one_grade = 5
                one_fina_s.append([one_c['course'],one_grade,one_s,content_label,np.NAN,one_c['website']])
            elif grade == 'cc-sixth-grade':
                one_grade = 6
                one_fina_s.append([one_c['course'],one_grade,one_s,content_label,np.NAN,one_c['website']])
            elif grade == 'cc-seventh-grade':
                one_grade = 7
                one_fina_s.append([one_c['course'],one_grade,one_s,content_label,np.NAN,one_c['website']])
            elif grade == 'cc-eighth-grade':
                one_grade = 8    
                one_fina_s.append([one_c['course'],one_grade,one_s,content_label,np.NAN,one_c['website']])
        all_final_data.extend(one_fina_s)

In [11]:
final_data = pd.DataFrame(all_final_data,columns=['course_name','course_garde','subject','content_label','course_introduction','course_url'])
final_data.head()

,course_name,course_garde,subject,content_label,course_introduction,course_url
0,Place value,1,math,cc-1st-grade-math,NaN,https://www.khanacademy.org/math/cc-1st-grade-...
1,"Measurement, data, and geometry",1,math,cc-1st-grade-math,NaN,https://www.khanacademy.org/math/cc-1st-grade-...
2,Intro to multiplication,3,math,cc-third-grade-math,NaN,https://www.khanacademy.org/math/cc-third-grad...
3,1-digit multiplication,3,math,cc-third-grade-math,NaN,https://www.khanacademy.org/math/cc-third-grad...
4,"Addition, subtraction, and estimation",3,math,cc-third-grade-math,NaN,https://www.khanacademy.org/math/cc-third-grad...

In [12]:
final_data

,course_name,course_garde,subject,content_label,course_introduction,course_url
0,Place value,1,math,cc-1st-grade-math,NaN,https://www.khanacademy.org/math/cc-1st-grade-...
1,"Measurement, data, and geometry",1,math,cc-1st-grade-math,NaN,https://www.khanacademy.org/math/cc-1st-grade-...
2,Intro to multiplication,3,math,cc-third-grade-math,NaN,https://www.khanacademy.org/math/cc-third-grad...
3,1-digit multiplication,3,math,cc-third-grade-math,NaN,https://www.khanacademy.org/math/cc-third-grad...
4,"Addition, subtraction, and estimation",3,math,cc-third-grade-math,NaN,https://www.khanacademy.org/math/cc-third-grad...
5,Intro to division,3,math,cc-third-grade-math,NaN,https://www.khanacademy.org/math/cc-third-grad...
6,Understand fractions,3,math,cc-third-grade-math,NaN,https://www.khanacademy.org/math/cc-third-grad...
7,Equivalent fractions and comparing fractions,3,math,cc-third-grade-math,NaN,https://www.khanacademy.org/math/cc-third-grad...
8,More with multiplication and division,3,math,cc-third-grade-math,NaN,https://www.khanacademy.org/math/cc-third-grad...
9,Arithmetic patterns and problem solving,3,math,cc-third-grade-math,NaN,https://www.khanacademy.org/math/cc-third-grad...
10,Quadrilaterals,3,math,cc-third-grade-math,NaN,https://www.khanacademy.org/math/cc-third-grad...
11,Area,3,math,cc-third-grade-math,NaN,https://www.khanacademy.org/math/cc-third-grad...
12,Perimeter,3,math,cc-third-grade-math,NaN,https://www.khanacademy.org/math/cc-third-grad...
13,Time,3,math,cc-third-grade-math,NaN,https://www.khanacademy.org/math/cc-third-grad...
14,Represent and interpret data,3,math,cc-third-grade-math,NaN,https://www.khanacademy.org/math/cc-third-grad...
15,Multiply by 1-digit numbers,4,math,cc-fourth-grade-math,NaN,https://www.khanacademy.org/math/cc-fourth-gra...
16,Multiply by 2-digit numbers,4,math,cc-fourth-grade-math,NaN,https://www.khanacademy.org/math/cc-fourth-gra...
17,Division,4,math,cc-fourth-grade-math,NaN,https://www.khanacademy.org/math/cc-fourth-gra...
18,"Factors, multiples and patterns",4,math,cc-fourth-grade-math,NaN,https://www.khanacademy.org/math/cc-fourth-gra...
19,Add and subtract fractions,4,math,cc-fourth-grade-math,NaN,https://www.khanacademy.org/math/cc-fourth-gra...
20,Multiply fractions,4,math,cc-fourth-grade-math,NaN,https://www.khanacademy.org/math/cc-fourth-gra...
21,Understand decimals,4,math,cc-fourth-grade-math,NaN,https://www.khanacademy.org/math/cc-fourth-gra...
22,Plane figures,4,math,cc-fourth-grade-math,NaN,https://www.khanacademy.org/math/cc-fourth-gra...
23,Measuring angles,4,math,cc-fourth-grade-math,NaN,https://www.khanacademy.org/math/cc-fourth-gra...
24,Area and perimeter,4,math,cc-fourth-grade-math,NaN,https://www.khanacademy.org/math/cc-fourth-gra...
25,Units of measurement,4,math,cc-fourth-grade-math,NaN,https://www.khanacademy.org/math/cc-fourth-gra...
26,Decimal place value,5,math,cc-fifth-grade-math,NaN,https://www.khanacademy.org/math/cc-fifth-grad...
27,Add decimals,5,math,cc-fifth-grade-math,NaN,https://www.khanacademy.org/math/cc-fifth-grad...
28,Subtract decimals,5,math,cc-fifth-grade-math,NaN,https://www.khanacademy.org/math/cc-fifth-grad...
29,Multi-digit multiplication and division,5,math,cc-fifth-grade-math,NaN,https://www.khanacademy.org/math/cc-fifth-grad...
30,Divide fractions,5,math,cc-fifth-grade-math,NaN,https://www.khanacademy.org/math/cc-fifth-grad...
31,Multiply decimals,5,math,cc-fifth-grade-math,NaN,https://www.khanacademy.org/math/cc-fifth-grad...
32,Divide decimals,5,math,cc-fifth-grade-math,NaN,https://www.khanacademy.org/math/cc-fifth-grad...
33,Powers of ten,5,math,cc-fifth-grade-math,NaN,https://www.khanacademy.org/math/cc-fifth-grad...
34,Volume,5,math,cc-fifth-grade-math,NaN,https://www.khanacademy.org/math/cc-fifth-grad...
35,Coordinate plane,5,math,cc-fifth-grade-math,NaN,https://www.khanacademy.org/math/cc-fifth-grad...
36,Algebraic thinking,5,math,cc-fifth-grade-math,NaN,https://www.khanacademy.org/math/cc-fifth-grad...
37,Converting units of measure,5,math,cc-fifth-grade-math,NaN,https://www.khanacademy.org/math/cc-fifth-grad...
38,Line plots,5,math,cc-fifth-grade-math,NaN,https://www.khanacademy.org/math/cc-fifth-grad...
39,Properties of shapes,5,math,cc-fifth-grade-math,NaN,https://www.khanacademy.org/math/cc-fifth-grad...
40,"Ratios, rates, &amp; percentages",6,math,cc-sixth-grade-math,NaN,https://www.khanacademy.org/math/cc-sixth-grad...
41,Arithmetic operations,6,math,cc-sixth-grade-math,NaN,https://www.khanacademy.org/math/cc-sixth-grad...
42,Properties of numbers,6,math,cc-sixth-grade-math,NaN,https://www.khanacademy.org/math/cc-sixth-grad...
43,Variables &amp; expressions,6,math,cc-sixth-grade-math,NaN,https://www.khanacademy.org/math/cc-sixth-grad...
44,Equations &amp; inequalities introduction,6,math,cc-sixth-grade-math,NaN,https://www.khanacademy.org/math/cc-sixth-grad...
45,Data and statistics,6,math,cc-sixth-grade-math,NaN,https://www.khanacademy.org/math/cc-sixth-grad...
46,Negative numbers: addition and subtraction,7,math,cc-seventh-grade-math,NaN,https://www.khanacademy.org/math/cc-seventh-gr...
47,Negative numbers: multiplication and division,7,math,cc-seventh-grade-math,NaN,https://www.khanacademy.org/math/cc-seventh-gr...
48,"Fractions, decimals, &amp; percentages",7,math,cc-seventh-grade-math,NaN,https://www.khanacademy.org/math/cc-seventh-gr...
49,Rates &amp; proportional relationships,7,math,cc-seventh-grade-math,NaN,https://www.khanacademy.org/math/cc-seventh-gr...
50,"Expressions, equations, &amp; inequalities",7,math,cc-seventh-grade-math,NaN,https://www.khanacademy.org/math/cc-seventh-gr...
51,Statistics and probability,7,math,cc-seventh-grade-math,NaN,https://www.khanacademy.org/math/cc-seventh-gr...
52,Numbers and operations,8,math,cc-eighth-grade-math,NaN,https://www.khanacademy.org/math/cc-eighth-gra...
53,Solving equations with one unknown,8,math,cc-eighth-grade-math,NaN,https://www.khanacademy.org/math/cc-eighth-gra...
54,Linear equations and functions,8,math,cc-eighth-grade-math,NaN,https://www.khanacademy.org/math/cc-eighth-gra...
55,Geometric transformations,8,math,cc-eighth-grade-math,NaN,https://www.khanacademy.org/math/cc-eighth-gra...
56,Data and modeling,8,math,cc-eighth-grade-math,NaN,https://www.khanacademy.org/math/cc-eighth-gra...

# IXL的数据汇总

In [14]:
ixl_All_data = pd.read_excel('ixl.xlsx','ixl',index_col=0)

In [118]:
ixl_All_data['gaede-subject'].value_counts()

Fifth grade math      442
Third grade math      403
Sixth grade math      387
Fourth grade math     374
Seventh grade math    355
Eighth grade math     347
Algebra 1             341
Algebra 2             338
Second grade math     307
Precalculus           271
First grade math      254
Geometry              252
Kindergarten math     228
Calculus               98
Pre-K math             91
Name: gaede-subject, dtype: int64

In [13]:
grade_list = ['First grade math','Second grade math','Third grade math','Fourth grade math','Fifth grade math','Sixth grade math','Seventh grade math','Eighth grade math']
grade_num_list = [1,2,3,4,5,6,7,8]

In [15]:
fina_ixl_data = ixl_All_data[ixl_All_data.columns[1:]]
fina_ixl_data.columns = ['course_garde','content_label','course_name','course_url']

In [16]:
fina_ixl_data['subject'] = 'math'
fina_ixl_data.head()

,course_garde,content_label,course_name,course_url,subject
id,,,,,
547,Pre-K math,Numbers and counting up to 3,Count dots - up to 3,https://www.ixl.com/math/pre-k/count-dots-up-to-3,math
548,Pre-K math,Numbers and counting up to 3,Learn to count - up to 3,https://www.ixl.com/math/pre-k/learn-to-count-...,math
549,Pre-K math,Numbers and counting up to 3,Count pictures - up to 3,https://www.ixl.com/math/pre-k/count-pictures-...,math
550,Pre-K math,Numbers and counting up to 3,Identify numbers - up to 3,https://www.ixl.com/math/pre-k/identify-number...,math
551,Pre-K math,Numbers and counting up to 3,Count shapes - up to 3,https://www.ixl.com/math/pre-k/count-shapes-up...,math

In [26]:
final_data = pd.DataFrame(columns=['course_name','course_garde','subject','content_label','course_introduction','course_url'])
for one_i in fina_ixl_data.index:
    one = fina_ixl_data.loc[one_i]
    if one['course_garde'] in grade_list:
        one['course_garde'] = grade_num_list[grade_list.index(one['course_garde'])]
        final_data = final_data.append(one)

In [28]:
final_data

,course_name,course_garde,subject,content_label,course_introduction,course_url
866,Skip-counting by tens,2,math,Counting and number patterns,NaN,https://www.ixl.com/math/grade-2/skip-counting...
867,Skip-counting by twos,2,math,Counting and number patterns,NaN,https://www.ixl.com/math/grade-2/skip-counting...
868,Skip-counting by fives,2,math,Counting and number patterns,NaN,https://www.ixl.com/math/grade-2/skip-counting...
869,Skip-counting by fives and tens,2,math,Counting and number patterns,NaN,https://www.ixl.com/math/grade-2/skip-counting...
870,"Skip-counting by twos, fives, and tens",2,math,Counting and number patterns,NaN,https://www.ixl.com/math/grade-2/skip-counting...
...,...,...,...,...,...,...
4409,Compound events: find the number of sums,6,math,Probability,NaN,https://www.ixl.com/math/grade-6/compound-even...
4410,Identify dependent and independent events,6,math,Probability,NaN,https://www.ixl.com/math/grade-6/identify-depe...
4411,Probability of dependent and independent events,6,math,Probability,NaN,https://www.ixl.com/math/grade-6/probability-o...
4412,Factorials,6,math,Probability,NaN,https://www.ixl.com/math/grade-6/factorials
4413,Permutations,6,math,Probability,NaN,https://www.ixl.com/math/grade-6/permutations

In [132]:
final_data.idnex = list(range(len(final_data)))

c:\users\xingy\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [134]:
len(final_data)

4918

In [133]:
final_data

,course_name,course_garde,subject,content_label,course_introduction,course_url
0,Counting,all,math,early-math,null,https://www.khanacademy.org/math/early-math/cc...
1,Addition and subtraction intro,all,math,early-math,null,https://www.khanacademy.org/math/early-math/cc...
2,Place value (tens and hundreds),all,math,early-math,null,https://www.khanacademy.org/math/early-math/cc...
3,Addition and subtraction within 20,all,math,early-math,null,https://www.khanacademy.org/math/early-math/cc...
4,Addition and subtraction within 100,all,math,early-math,null,https://www.khanacademy.org/math/early-math/cc...
...,...,...,...,...,...,...
5030,Find confidence intervals for population means,Precalculus,math,Statistics,NaN,https://www.ixl.com/math/precalculus/find-conf...
5031,Find confidence intervals for population propo...,Precalculus,math,Statistics,NaN,https://www.ixl.com/math/precalculus/find-conf...
5032,Interpret confidence intervals for population ...,Precalculus,math,Statistics,NaN,https://www.ixl.com/math/precalculus/interpret...
5033,Experiment design,Precalculus,math,Statistics,NaN,https://www.ixl.com/math/precalculus/experimen...
5034,Analyze the results of an experiment using sim...,Precalculus,math,Statistics,NaN,https://www.ixl.com/math/precalculus/analyze-t...

In [136]:
final_data.to_excel('所有数据.xlsx')

In [2]:
my_data  = pd.read_excel('所有数据.xlsx','Sheet1',index_col=0)
my_data.head()

,course_name,course_garde,subject,content_label,course_introduction,course_url
0,Counting,all,math,early-math,NaN,https://www.khanacademy.org/math/early-math/cc...
1,Addition and subtraction intro,all,math,early-math,NaN,https://www.khanacademy.org/math/early-math/cc...
2,Place value (tens and hundreds),all,math,early-math,NaN,https://www.khanacademy.org/math/early-math/cc...
3,Addition and subtraction within 20,all,math,early-math,NaN,https://www.khanacademy.org/math/early-math/cc...
4,Addition and subtraction within 100,all,math,early-math,NaN,https://www.khanacademy.org/math/early-math/cc...

In [3]:
my_data['course_garde'].value_counts()

Fifth grade math      442
all                   430
Third grade math      403
Sixth grade math      387
Fourth grade math     374
Seventh grade math    355
Eighth grade math     347
Algebra 1             341
Algebra 2             338
Second grade math     307
Precalculus           271
First grade math      254
Geometry              252
Kindergarten math     228
Calculus               98
Pre-K math             91
Name: course_garde, dtype: int64