# 可汗学院的数据汇总

In [44]:
import pandas as pd
import numpy as np

In [ ]:
课程ID 、课程名称、年级、科目、课程介绍、内容标签、链接
这里好像只有数学的才是按照年级去分类的，但是别的科目并没有按照这个方式去分类
或者就是主要是数学、科学、计算机、语文（humanities）

In [110]:
All_data = pd.read_excel('Save_Excel.xlsx','page_1',index_col=0)
tab_data = pd.read_excel('Save_Excel.xlsx','level',index_col=0)

In [111]:
# 取出需要的几个主要学科
subject = ['math','science','computing','humanities']

In [112]:
all_final_data = []
for one_s in subject:
    one_s_data = All_data.loc[All_data[one_s]==1].replace(0,np.NAN).dropna(axis=1,how='all')
    one_s_data = one_s_data.drop([one_s],axis=1)
    for i in one_s_data.index:
        one_fina_s = []
        one_c = one_s_data.loc[i]
        content_label = list(one_c[1:-1][one_c[1:-1]==1].index)
        content_label = ','.join(content_label)
        one_fina_s.append([one_c['course'],'all',one_s,content_label,'null',one_c['website']])
        all_final_data.extend(one_fina_s)

In [113]:
final_data = pd.DataFrame(all_final_data,columns=['course_name','course_garde','subject','content_label','course_introduction','course_url'])
final_data.head()

,course_name,course_garde,subject,content_label,course_introduction,course_url
0,Counting,all,math,early-math,null,https://www.khanacademy.org/math/early-math/cc...
1,Addition and subtraction intro,all,math,early-math,null,https://www.khanacademy.org/math/early-math/cc...
2,Place value (tens and hundreds),all,math,early-math,null,https://www.khanacademy.org/math/early-math/cc...
3,Addition and subtraction within 20,all,math,early-math,null,https://www.khanacademy.org/math/early-math/cc...
4,Addition and subtraction within 100,all,math,early-math,null,https://www.khanacademy.org/math/early-math/cc...

In [114]:
final_data['content_label'].value_counts()

biology                            30
health-and-medicine                22
physics                            20
chemistry                          16
art-history                        16
statistics-probability             16
algebra                            15
cc-fifth-grade-math                14
organic-chemistry                  13
cc-third-grade-math                13
algebra2                           13
ap-us-history,us-history           11
ap-art-history                     11
cc-fourth-grade-math               11
grammar                            10
us-history                         10
ap-calculus-ab                     10
electrical-engineering              9
us-government-and-civics            9
pre-algebra                         9
high-school-biology                 8
computer-programming                8
ap-biology                          8
high-school-math                    8
geometry                            8
early-math                          8
ap-computer-science-principles      7
ap-statistics                       7
precalculus                         7
ap-physics-1,physics                7
world-history                       6
cc-seventh-grade-math               6
cc-sixth-grade-math                 6
arithmetic                          5
trigonometry                        5
cc-eighth-grade-math                5
multivariable-calculus              5
computer-science                    4
ap-calculus-bc                      4
cosmology-and-astronomy,physics     4
ap-chemistry-beta,chemistry         3
illustrative-math                   3
differential-equations              3
linear-algebra                      3
hass-storytelling                   2
engageny                            2
ap-us-government-and-politics       2
cc-1st-grade-math                   2
cc-kindergarten-math                2
ap-world-history                    2
ap-chemistry,chemistry              2
Name: content_label, dtype: int64

# IXL的数据汇总

In [117]:
ixl_All_data = pd.read_excel('ixl.xlsx','ixl',index_col=0)

In [118]:
ixl_All_data['gaede-subject'].value_counts()

Fifth grade math      442
Third grade math      403
Sixth grade math      387
Fourth grade math     374
Seventh grade math    355
Eighth grade math     347
Algebra 1             341
Algebra 2             338
Second grade math     307
Precalculus           271
First grade math      254
Geometry              252
Kindergarten math     228
Calculus               98
Pre-K math             91
Name: gaede-subject, dtype: int64

In [126]:
fina_ixl_data = ixl_All_data[ixl_All_data.columns[1:]]
fina_ixl_data.columns = ['course_garde','content_label','course_name','course_url']

In [129]:
fina_ixl_data['subject'] = 'math'
fina_ixl_data.head()

,course_garde,content_label,course_name,course_url,subject
id,,,,,
547,Pre-K math,Numbers and counting up to 3,Count dots - up to 3,https://www.ixl.com/math/pre-k/count-dots-up-to-3,math
548,Pre-K math,Numbers and counting up to 3,Learn to count - up to 3,https://www.ixl.com/math/pre-k/learn-to-count-...,math
549,Pre-K math,Numbers and counting up to 3,Count pictures - up to 3,https://www.ixl.com/math/pre-k/count-pictures-...,math
550,Pre-K math,Numbers and counting up to 3,Identify numbers - up to 3,https://www.ixl.com/math/pre-k/identify-number...,math
551,Pre-K math,Numbers and counting up to 3,Count shapes - up to 3,https://www.ixl.com/math/pre-k/count-shapes-up...,math

In [131]:
final_data = final_data.append(fina_ixl_data)

In [132]:
final_data.idnex = list(range(len(final_data)))

c:\users\xingy\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [134]:
len(final_data)

4918

In [133]:
final_data

,course_name,course_garde,subject,content_label,course_introduction,course_url
0,Counting,all,math,early-math,null,https://www.khanacademy.org/math/early-math/cc...
1,Addition and subtraction intro,all,math,early-math,null,https://www.khanacademy.org/math/early-math/cc...
2,Place value (tens and hundreds),all,math,early-math,null,https://www.khanacademy.org/math/early-math/cc...
3,Addition and subtraction within 20,all,math,early-math,null,https://www.khanacademy.org/math/early-math/cc...
4,Addition and subtraction within 100,all,math,early-math,null,https://www.khanacademy.org/math/early-math/cc...
...,...,...,...,...,...,...
5030,Find confidence intervals for population means,Precalculus,math,Statistics,NaN,https://www.ixl.com/math/precalculus/find-conf...
5031,Find confidence intervals for population propo...,Precalculus,math,Statistics,NaN,https://www.ixl.com/math/precalculus/find-conf...
5032,Interpret confidence intervals for population ...,Precalculus,math,Statistics,NaN,https://www.ixl.com/math/precalculus/interpret...
5033,Experiment design,Precalculus,math,Statistics,NaN,https://www.ixl.com/math/precalculus/experimen...
5034,Analyze the results of an experiment using sim...,Precalculus,math,Statistics,NaN,https://www.ixl.com/math/precalculus/analyze-t...

In [136]:
final_data.to_excel('所有数据.xlsx')