In [1]:
# 导入必要的库文件
import pandas as pd
import numpy as np

In [8]:
# 定义相关的函数
def get_khan(file_path):
    """处理可汗学院的数据，传入一个文件（或者直接一个列表），返回标准的数据"""
    # 这里先用这种方式进行，后面再去与爬取的部分整合到一起，直接传表格进来
    All_data = pd.read_excel(file_path,'page_1',index_col=0)
    # 取出需要的几个主要学科。目前这一步也是没有用的，因为只有数学是可以分学科的
    subject = ['math','science','computing','humanities']
    all_final_data = []
    for one_s in subject:
        one_s_data = All_data.loc[All_data[one_s]==1].replace(0,np.NAN).dropna(axis=1,how='all')
        one_s_data = one_s_data.drop([one_s],axis=1)
        for i in one_s_data.index:
            one_fina_s = []
            one_c = one_s_data.loc[i]
            content_label = list(one_c[1:-1][one_c[1:-1]==1].index)
            content_label = ','.join(content_label)
            one_grade = np.NAN
            if '-math' in content_label:
                grade = content_label.split('-math')[0]
                if grade == 'cc-1st-grade':
                    one_grade = 1
                    one_fina_s.append([one_c['course'],one_grade,one_s,content_label,np.NAN,one_c['website']])
                elif grade == 'cc-third-grade':
                    one_grade = 3
                    one_fina_s.append([one_c['course'],one_grade,one_s,content_label,np.NAN,one_c['website']])
                elif grade == 'cc-fourth-grade':
                    one_grade = 4
                    one_fina_s.append([one_c['course'],one_grade,one_s,content_label,np.NAN,one_c['website']])
                elif grade == 'cc-fifth-grade':
                    one_grade = 5
                    one_fina_s.append([one_c['course'],one_grade,one_s,content_label,np.NAN,one_c['website']])
                elif grade == 'cc-sixth-grade':
                    one_grade = 6
                    one_fina_s.append([one_c['course'],one_grade,one_s,content_label,np.NAN,one_c['website']])
                elif grade == 'cc-seventh-grade':
                    one_grade = 7
                    one_fina_s.append([one_c['course'],one_grade,one_s,content_label,np.NAN,one_c['website']])
                elif grade == 'cc-eighth-grade':
                    one_grade = 8    
                    one_fina_s.append([one_c['course'],one_grade,one_s,content_label,np.NAN,one_c['website']])
            all_final_data.extend(one_fina_s)
    final_data = pd.DataFrame(all_final_data,columns=['course_name','course_garde','subject','content_label','course_introduction','course_url'])
    return final_data

def get_ixl(file_path):
    """整理ixl的数据，传入一个表格，返回整理后的数据"""
    ixl_All_data = pd.read_excel('ixl.xlsx','ixl',index_col=0)
    grade_list = ['First grade math','Second grade math','Third grade math','Fourth grade math','Fifth grade math','Sixth grade math','Seventh grade math','Eighth grade math']
    grade_num_list = [1,2,3,4,5,6,7,8]
    fina_ixl_data = ixl_All_data[ixl_All_data.columns[1:]]
    fina_ixl_data.columns = ['course_garde','content_label','course_name','course_url']
    fina_ixl_data['subject'] = 'math'
    final_data = pd.DataFrame(columns=['course_name','course_garde','subject','content_label','course_introduction','course_url'])
    for one_i in fina_ixl_data.index:
        one = fina_ixl_data.loc[one_i]
        if one['course_garde'] in grade_list:
            one['course_garde'] = grade_num_list[grade_list.index(one['course_garde'])]
            final_data = final_data.append(one)
    return final_data

def get_all_data():
    """获取所有的数据"""
    khan_data = get_khan('Save_Excel.xlsx')
    ixl_data = get_ixl('ixl.xlsx')
    all_data = khan_data.append(ixl_data)
    return all_data

In [9]:
all_data = get_all_data()

In [10]:
all_data.head()

,course_name,course_garde,subject,content_label,course_introduction,course_url
0,Place value,1,math,cc-1st-grade-math,NaN,https://www.khanacademy.org/math/cc-1st-grade-...
1,"Measurement, data, and geometry",1,math,cc-1st-grade-math,NaN,https://www.khanacademy.org/math/cc-1st-grade-...
2,Intro to multiplication,3,math,cc-third-grade-math,NaN,https://www.khanacademy.org/math/cc-third-grad...
3,1-digit multiplication,3,math,cc-third-grade-math,NaN,https://www.khanacademy.org/math/cc-third-grad...
4,"Addition, subtraction, and estimation",3,math,cc-third-grade-math,NaN,https://www.khanacademy.org/math/cc-third-grad...

In [11]:
all_data.to_excel('所有数据2.xlsx')